body{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   background-color: rgb(146, 205, 221);

}

header{
    background-color: rgb(18, 136, 157);
    color: rgb(179, 225, 238);
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}
a{
    color:white
}

.wonder img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.wonder {
    text-align: center;
    margin-bottom: 40px;
}